*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "tahoma", cursive;
    }

    body {
        background-color: #5a7386;
        padding-top: 100px;
    }

    header{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    header img{
        height: 48px;
    }

    header h1 {
        font-size: 56px;
        font-weight: lighter;
        font-family: "Italianno", cursive;
    }

    body div {
        font-size: 16px;
        border: none;
        padding: 8px;
    }

    .container {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }

    form {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 56px;
    }

    form input {
        font-size: 18px;
        background-color: #fff;
        border: none;
        border-bottom: 2px solid #000;
        text-align: center;
        padding: 8px;
    }

    form button {
        color: antiquewhite;
        font-size: 18px;
        background-color: #000;
        font-weight: lighter;
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #52636b;
    }

    table {
        width: 100%;
    }

    table th {
        border-bottom: 2px solid #000;
        padding: 14px;
        font-size: 22px;
        font-weight: bold;
    }

    table td {
        padding: 8px 0;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }